[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {microblog,
     [{ecto_repos,['Elixir.Microblog.Repo']},
      {'Elixir.MicroblogWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.MicroblogWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Microblog.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {load_from_system_env,true},
           {url,[{host,<<"microblog.sase.pizza">>},{port,80}]},
           {server,true},
           {secret_key_base,
               <<"L4D8diKUtUV7a0y9yRPADImeKm9lXmSSAQvTHpjQTeBL8oiiDc0ImSCKPOrnRC3p">>}]},
      {'Elixir.Microblog.Repo',
          [{hostname,<<"localhost">>},
           {adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"microblog_prod">>},
           {pool_size,15}]}]}].
