<div class="blog-header">
  <div class="container">
    <h1 class="blog-title"><%= @post.title %></h1>
    <p class="blog-post-meta">Jonah Min</a></p>
    <p class="lead blog-description">250 likes</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 blog-main">
      <div class="blog-post">
	<p><%= @post.post %></p>
      </div>
    </div>
  </div>
</div>

